@use '../../reference/styles' as styles;

.loading {
  display: inline-block;
  // TODO: make small and large variants
  width: 24px;
  height: 24px;
  position: relative;
  animation: spin 1.4s linear infinite;
}

.color {
  &Black {
    color: styles.$black;
  }

  &DarkerGrey {
    color: styles.$darker-grey;
  }

  &DarkGrey {
    color: styles.$dark-grey;
  }

  &MediumGrey {
    color: styles.$medium-grey;
  }

  &LightGrey {
    color: styles.$light-grey;
  }

  &LighterGrey {
    color: styles.$lighter-grey;
  }

  &LightBlue {
    color: styles.$light-blue;
  }

  &White {
    color: styles.$white;
  }

  &Transparent {
    color: styles.$transparent;
  }
}

.svg {
  display: block;
  overflow: hidden;
}

.circle {
  animation: dash 1.4s ease-in-out infinite;
  stroke-dasharray: 80px, 200px;
  stroke-dashoffset: 0px;
  transform-origin: 0px 0px;
  stroke: currentColor;
}

@keyframes spin {
  0% {
    transform-origin: 50% 50%;
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0px;
  }

  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }

  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}
