@use '../../../../styles' as styles;

.container {
  position: relative;
}

.select {
  width: 100%;
  height: 36px;
  // line-height: 36px;
  font-family: 'Lato'; // No `Typography` component used
  font-size: 16px; // No `Typography` component used
  padding-right: styles.$spacing-xs;
  padding-left: styles.$spacing-xs;
  appearance: none; // Hide arrow
  border: none;
  border-radius: styles.$corners-sm;
  outline: none;
  cursor: pointer;
}
